body{
    font-family: Georgia,Times, Arial;
    margin: 0;
    padding: 0;
    background-color: lightpink;
}

body{
    margin: 0;
    padding: 0;
    background: url(https://img.freepik.com/foto-gratis/vista-angulo-alto-cupcakes-dulces-velas-sobre-fondo-rosa_23-2147917457.jpg?t=st=1723925077~exp=1723928677~hmac=a65d2a51d60979dc72c7a27dbde9d5968e0a55a27836fef8577190a05f84204b&w=740);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat ;
    background-blend-mode:normal;
    background-attachment: fixed;
}

header h1{
    font-size: 90px; 
    color: rgb(236, 156, 236);
}

header{
    background-color: rgb(255, 255, 255,0.5);
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 6px rgba(0,0,0,0.1);
}

nav a{
    margin:15px;
    text-decoration:overline;
    color: white;
    font-weight: bold;
    font-style: italic; 
    text-shadow: 2px 3px 4px palevioletred;
}

nav a:hover{
    color:white;  
    border-radius: 5px;
    text-transform: uppercase;
}

.section{
    color: #fff;
}

h2{
    text-align: center ;
    font-size: xx-large;
}

h3{
    font-size:x-large;
}

p{
    font-size: x-large;
}

.section{
    padding: 50px;
}

.section-title{
    color:white;
}

.section-contact h2{
    color: #fff;
}

.products{
margin-bottom: 20px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}

.products img{
    max-width: 90%;
    height: 550px;
    width: 600px; 
    border-radius: 10px; 
    margin-bottom: 70px;
}
 
.products img:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.product-card{
    background-color: lavenderblush;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 450px;
    text-align: center;
    color: rgb(236, 156, 236);
    padding: 1rem;
    transition: transform 0.3s ease;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 2rem;
    padding: 2rem; 
}


/*Caja de Formulario de Contacto*/
.contact-form{
    background-color:rgba(255, 255, 255, 0.5);
    padding:10px 20px;
    border-radius: 25px; 
    box-shadow: 0 0 10px ;
    max-width:100%;
    margin: 0 auto;
}

.contact-form{
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.contact-form input, 
.contact-form textarea {
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 5px; 
    border: 1px solid #ccc;
}

/*Efecto de Zoom en Funcion "Enviar Mensaje"*/
.contact-form input[type="submit"]:hover{
    background-color: #ffb380;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

.social-icon{
    color: #fff;
    margin: 0 10px;
    font-size: 15px;
    text-decoration: none;
}

.social-icon:hover{
    color:aqua
}

.carousel-inner{
    display: flex;
    align-items: stretch;  
}

@media (max-width: 1000px) {
    .products {
      display: grid;
      grid-template-columns: repeat(2, 3.2fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 2px;
      grid-row-gap: 25px;
      justify-items: center;
    }
  
    .products img {
      width: 180px;
      height: 180px;
      object-fit: cover;
    }
  }

@media (max-width: 500px){
    .products {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 5px;
      grid-row-gap: 25px;
      justify-items: center;
    }
  
    .products img {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
}








